.AppDiv {
  display: block;
  height: auto;
  width: 60vw;
  background-color: rgba(240, 255, 255, 0.927);
  margin: 50px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.405);
}
.Heading {
  padding: 10px;
}
.Heading > h1 {
  display: flex;
  align-content: center;
  justify-content: center;

  color: rgba(255, 68, 0, 0.732);
}
.Heading > hr {
  display: flex;
  margin-left: 35%;
  height: 1px;
  width: 30%;
  border: none;
  background: rgba(255, 68, 0, 0.732);
}
.input {
  display: flex;
  padding: 10px 20px 10px;
  align-content: center;
  justify-content: space-evenly;
}
#TaskIP {
  display: flex;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 10px;
  background-color: rgba(128, 128, 128, 0.022);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);
}
#btnADD {
  display: flex;
  width: 10%;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 5px;
  font-size: 10px;
  background: rgba(255, 68, 0, 0.732);
  color: white;
  align-content: center;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);


}
.todoheading {
  display: flex;
  font-size: 8px;
  padding: 5px 30px 5px;
  color: rgba(0, 128, 0, 0.499);

}
.todoheading>h1{
  padding: 2px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);
  
}
.List {
  display: block;
  height: auto;
  width: auto;
}
.MapList {
  display: flex;
  padding: 5px 15% 5px;
}
ul {
  display: flex;
  height: 25px;
  width: 140%;
}
li {
  display: flex;
  height: 25px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

.ListCont {
  display: flex;
}

#DisplaySpan {
  display: flex;
  height: inherit;
  width: auto;
  padding: 5px;
  font-size: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);
 border-radius: 20px;
}
.btneditDel {
  display: flex;
  height: 20;
  width: 30%;
  align-content: center;
  justify-content: space-around;
}
#Edit {
  display: flex;
  font-size: 8px;
  height: inherit;
  border: none;
  padding: 4px 8px;
  background: rgba(255, 68, 0, 0.732);
  border-radius: 30px;
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);

}
#Delete {
  display: flex;
  font-size: 8px;
  height: inherit;
  border: none;
  padding: 4px 8px;
  background: rgba(255, 68, 0, 0.732);
  border-radius: 30px;
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);

}
